@{
    ViewBag.Title = "Home Page";
}

<div class="row mt-5">
    <div class="col-12 text-right">
        <button class="btn btn-primary" id="btnCarregar" onclick="appCompany.carregarEmpresas('@Url.Action("ListarEmpresas", "Home")')">
            <i class="fas fa-building"></i> Carregar Lista de Empresas
        </button>
    </div>
</div>
<div id="divListas">

</div>
<div id="divConteudosEmpresa">

</div>
@Scripts.Render("~/bundles/application")
<script>
    window.appCompany = new CompanyController();
</script>